.upload-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

input[type="file"] {
  margin: 20px 0;
}

.progress-bar {
  height: 30px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 10px 0;
  transition: width 0.3s ease-in-out;
}

p {
  font-size: 1.2em;
  margin-top: 10px;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.file-list li {
  margin: 5px 0;
  font-size: 1em;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-list button:hover {
  background-color: darkred;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.modal {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}
